body {
    margin: 0px;
}

main {
    /* DO NOT DO THIS IN REAL PROJECTS */
    height: 100vh;
    width: 100vw;
}

.section {
    float: left;
    width: 33.33%;
    background-color: red;
    height: 100%;
}

.section:nth-child(2) {
    background-color: blue;
}

.section:nth-child(3) {
    background-color: yellow;
}