body {
    margin: 0;
}

.header {
    padding: 8px 16px;
    border-bottom: thin solid tomato;
}

.header h1 {
    display: inline-block;
}

.header img {
    height: 24px;
    width: 24px;
    position: relative;
    top: calc(50% - 12px);
    left: calc(100% - 120px);
    /* left: 80%; */
    /* right: 0px; */
}